/*---------------------
-   Responsive text   -
---------------------*/

@media (min-width: 0px) {
    .resp-txt {
        font-size: 1rem;
    }
}
  
@media (min-width: 540px) {
    .resp-txt {
        font-size: 1rem;
    }
}
  
@media (min-width: 720px) {
    .resp-txt {
        font-size: 1.2rem;
    }
}
  
@media (min-width: 960px) {
    .resp-txt {
        font-size: 1.4rem;
    }
}
  
@media (min-width: 1140px) {
    .resp-txt {
        font-size: 1.6rem;
    }
}
  
@media (min-width: 1320px) {
    .resp-txt {
        font-size: 1.8rem;
    }
}

/*---------------------
-     General CSS     -
---------------------*/

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color:black;
    font-family: 'Inconsolata', serif;
}
p {
    color:white;
}

a {
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer {
    color: white;
    text-align: center;
    align-items: center;
}

/*---------------------
-      Container      -
---------------------*/

.container {
    background-color: black;
    color: white;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
   
/*---------------------
-       Buttons       -
---------------------*/

button {
    background-color: #f8f9fa;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: grid;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 30px;
    min-width: 100%;
    font-family: 'Inconsolata', serif;
}

button:hover, button:active {
    background-color: #ffc61b;
}


