<div class="mb-4">
  <label for="categ-select" class="form-label fw-semibold">Categoría</label>
  <select name="categ-select" id="selectForm-add" class="form-select">
    <option value="1" selected disabled>Selecciona una opción</option>
    <option value="2">Cervezas</option>
    <option value="3">Nuestra selección maestra</option>
    <option value="4">Destilados</option>
    <option value="4">Cocktails</option>
    <option value="5">Snacks</option>
    <option value="6">Sandwiches</option>
    <option value="7">Burgers</option>
    <option value="8">Brick Burgers</option>
  </select>
</div>