<div class="container d-flex justify-content-center mt-4">
    <form id="form-add" class="w-75">
        <div class="mb-4">
            <label class="form-label fw-semibold">Seleccionar mesero/a</label>
            <select id="selectForm-add" class="form-select">
                <option selected disabled>Selecciona una opción</option>
                {{#each waiters}}
                <option>{{name}} {{lastName}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
    </form>
</div>