<div class="d-flex justify-content-center col">
    <div id="waiterCard" class="card mt-4" style="width: 14rem;">
        <a href="/configuraciones/meseros" class="card-body text-decoration-none">
            <h4><span class="material-symbols-outlined">groups</span></h4>
            <h4 class="card-title">Meseros/as</h4>
            <p class="card-text">Agregar, editar o eliminar nombres</p>
        </a>
    </div>
</div>
<div class="d-flex justify-content-center col">
    <div id="categoryCard" class="card mt-4" style="width: 14rem;">
        <a href="/configuraciones/categorias" class="card-body text-decoration-none">
            <h4><span class="material-symbols-outlined">category</span></h4>
            <h4 class="card-title">Categorías</h4>
            <p class="card-text">Agregar, editar o eliminar categorías de comida/trago</p>
        </a>
    </div>
</div>
<div class="d-flex justify-content-center col">
    <div id="tableCard" class="card mt-4" style="width: 14rem;">
        <a href="/configuraciones/mesas" class="card-body text-decoration-none">
            <h4><span class="material-symbols-outlined">table_restaurant</span></h4>
            <h4 class="card-title">Mesas</h4>
            <p class="card-text">Editar el número total de mesas del local</p>
        </a>
    </div>
</div>