<div class="container d-flex justify-content-center mt-4">
    <form id="add-waiter" class="w-75">
        <div class="mb-4">
            <label class="form-label fw-semibold">Agregar mesero/a</label>
            <div class="d-flex">
                <div class="col-md-5 pe-1">
                    <label for="name" class="form-label">Nombre</label>
                    <input name="name" type="text" class="form-control">
                </div>
                <div class="col-md-5 ps-1 pe-1">
                    <label for="last-name" class="form-label">Apellido</label>
                    <input name="last-name" type="text" class="form-control">
                </div>
                <div class="col-md-2 ps-1 ">
                    <button href="#" type="submit" class="btn btn-primary">Agregar</button>
                    <a href="#" type="button">Deshacer</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container d-flex justify-content-center mt-4">
    <form id="add-category" class="w-75">
        <div class="mb-4">
            <label for="category" class="form-label fw-semibold">Agregar categoría</label>
            <input name="category" type="text" class="form-control">
        </div>
        <button href="#" type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>

<div class="container d-flex justify-content-center mt-4">
    <form id="add-table" class="w-75">
        <div class="mb-4">
            <label for="table" class="form-label fw-semibold">Número total de mesas</label>
            <input name="table" type="number" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
    </form>
</div>