<div id="sidebar" class="sb-big col-2 flex-column flex-shrink-0 p-3 bg-light">
  <ul id="menu-options" class="nav nav-pills flex-column mb-auto">
    <li>
      <a id="card-view" href="/vista-bloques" class="nav-link link-dark" aria-current="page">
        <i class="bi bi-columns-gap"></i><span class="sb-text ms-2">Vista de Bloques</span>
      </a>
    </li>
    <li>
      <a id="floorplan" href="/vista-planta" class="nav-link link-dark">
        <i class="bi bi-shop"></i><span class="sb-text ms-2">Vista de Planta</span>
      </a>
    </li>
    <li>
      <a id="edit-menu" href="#" class="nav-link link-dark collapsed" data-bs-toggle="collapse"
        data-bs-target="#cart-collapse" aria-expanded="false">
        <i id="edit-menu-icon" class="bi bi-caret-right"></i><span class="sb-text ms-2">Carta</span>
      </a>
      <div class="collapse" id="cart-collapse" style="">
        <ul class="sb-text ms-2 btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/agregar-producto" id="new-product" class="nav-link-prod nav-link link-dark d-inline-flex text-decoration-none rounded"><i class="bi bi-folder-plus"></i><span class="ms-2">Agregar Producto</span></a></li>
          <li><a href="/eliminar-producto" id="del-product" class="nav-link-prod nav-link link-dark d-inline-flex text-decoration-none rounded"><i class="bi bi-folder-minus"></i><span class="ms-2">Eliminar Producto</span></a></li>
          <li><a href="/editar-producto" id="edit-product" class="nav-link-prod nav-link link-dark d-inline-flex text-decoration-none rounded"><i class="bi bi-pencil-square"></i><span class="ms-2">Editar Producto</span></a></li>
        </ul>
      </div>
    </li>
    <li>
      <a id="table-asign" href="/asignar-mesa" class="nav-link link-dark" aria-current="page">
        <i class="bi bi-person-gear"></i><span class="sb-text ms-2">Asignar Mesa</span>
      </a>
    </li>
    <li>
      <a id="table-config" href="/config-mesas" class="nav-link link-dark" aria-current="page">
        <i class="bi bi-gear"></i><span class="sb-text ms-2">Configuraciones</span>
      </a>
    </li>
    <li>
      <a id="table-config" href="/carta" class="nav-link link-dark" aria-current="page">
        <i class="bi bi-journal-text"></i><span class="sb-text ms-2">Ir a la carta</span>
      </a>
    </li>
  </ul>

  <hr/>

  <div id="admin-icon" class="dropdown nav nav-pills flex-column mb-auto ms-3">
    <a href="#" class="align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="#" alt="" width="32" height="32" class="rounded-circle "/>
      <strong class="sb-text">Admin</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="/configuracion">Configuración</a></li>
      <li><a class="dropdown-item" href="#">Perfil</a></li>
      <li><hr class="dropdown-divider"/></li>
      <li><a class="dropdown-item" href="/">Cerrar sesión</a></li>
    </ul>
  </div>

</div>