<div class="container d-flex justify-content-center mt-4">
    <form class="w-75">
        <div class="mb-4">
            <label class="form-label fw-semibold">Título</label>
            <input class="form-control">
        </div>
        {{> categSelect}}
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
</div>