<div id="sidebar-small" class="col-1 flex-column flex-shrink-0 p-3 bg-light" style="width: 6rem;">
    <ul class="nav nav-pills flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="#" id="card-view" class="nav-link active" aria-current="page"><i class="bi bi-columns-gap"></i></a>
        </li>
        <li>
            <a class="btn btn-toggle d-inline-flex align-items-center rounded border-0"><i class="bi bi-caret-right"></i></a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark"><i class="bi bi-shop"></i></a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark"><i class="bi bi-columns-gap"></i></a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark"><i class="bi bi-columns-gap"></i></a>
        </li>
    </ul>
    <hr />
    <div class="dropdown">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/img/logo.jpg" alt="" width="32" height="32" class="rounded-circle"/>
    </a>
    </div>
</div>
