<div class="container d-flex justify-content-center mt-4">
    <form class="w-75">
        <div class="mb-4">
            <label class="form-label fw-semibold">Categoría</label>
            <select class="form-select">
                <option value="" selected disabled>Selecciona una opción</option>
                <option value="1">Cervezas</option>
                <option value="2">Nuestra selección maestra</option>
                <option value="3">Destilados</option>
                <option value="4">Cocktails</option>
                <option value="5">Snacks</option>
                <option value="6">Sandwiches</option>
                <option value="7">Burgers</option>
                <option value="8">Brick Burgers</option>
            </select>
        </div>
        <button type="submit" class="btn btn-warning">Editar</button>
    </form>
</div>